{% extends 'base.html' %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">设置</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width: 261px;">
          <ul class="nav nav-sidebar">
            <li><a href="/ProManage/">
                <i class="glyphicon glyphicon-th-large"></i>&nbsp&nbsp项目管理</a></li>

            <li><a href="/MolManage/">
                <i class="glyphicon glyphicon-th"></i>&nbsp&nbsp模块管理</a></li>

            <li  class="active"><a href="/CaseManage/">
                <i class="glyphicon glyphicon-list"></i>&nbsp&nbsp用例管理</a>

            </li>

            <li><a href="/TaskManage/">
                <i class="glyphicon glyphicon-tasks"></i>&nbsp&nbsp任务管理</a></li>

            <li><a href="/MockServer/">
                <i class="glyphicon glyphicon-modal-window"></i>&nbsp&nbspMock Server</a></li>

            <li><a href="/TestTool/">
                <i class="glyphicon glyphicon-wrench"></i>&nbsp&nbsp测试工具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width: 1650px; margin-left: 280px;">
{#          <h1 class="page-header">Dashboard</h1>#}
{##}
{#          <div class="row placeholders">#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
{#          </div>#}

            <!--用例列表-->
              <h4 class="sub-header">测试用例
                  <a href="/CaseManage/debugCase/">
                      <button type="button" class="btn btn-sm btn-primary"  style="float:right;">
                      <i class="glyphicon glyphicon-plus"></i>&nbsp&nbsp调试/创建测试用例 </button></a>
              </h4>
              <div class="table-responsive">
                <table class="table table-striped">

                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>用例名称</th>
                      <th>请求方式</th>
                      <th>所属模块</th>
                      <th>创建时间</th>
                      <!--<th>更新时间</th>-->
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for case in testcases %}
                        <tr>
                          <td>{{case.id}}</td>
                          <td>{{case.name}}</td>
                          <td>{{case.method}}</td>
                          <td>{{case.module}}</td>
                          <td>{{case.create_time|date:"Y-m-d H:i:s"}}</td>
                          <td>
                              <a href="/CaseManage/editCase/{{case.id}}/">
                                  <i class="glyphicon glyphicon-edit"></i>&nbsp编辑</a>
                              <a href="/CaseManage/deleteCase/{{case.id}}/" style="padding-left: 10px;">
                                  <i class="glyphicon glyphicon-trash"></i>&nbsp删除</a>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            <ul class="pagination" id="pager" style="padding-left: 1300px;">

                {% if contacts.has_previous %}
                    <li class="previous"><a href="/?page={{ contacts.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">&laquo;上一页</a></li>
                {% endif %}

                {% for num in paginator.page_range %}
                    {% if num == currentPage %}
                        <li class="item active"><a href="/?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li class="item"><a href="/?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if book_list.has_next %}
                    <li class="next"><a href="/?page={{ contacts.next_page_number }}">下一页&raquo;</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页&raquo;</a></li>
                {% endif %}
            </ul>


        </div>
      </div>
    </div>



{% endblock %}

