{% extends "base.html" %}
{% block content %}

  <div id="web_bg" style="background-image:url(/static/image/123.jpg)"></div>

        <div class="container" style="width:330px;margin-right: 50px;padding-top: 250px;">

          <form class="form-signin" action="/index/" method="post">

            <h2 class="form-signin-heading" style="text-align: center">BBD自动化测试平台</h2><br>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="输入用户名" ><br>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="输入密码" ><br>

            <div style="color:red">{{ error }}</div>
              {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button><br>
              <p>暂未开放注册，请联系系统管理员申请账号.</p>
              <hr>
              {% block beian %}
              <p style="padding-left: 30px;padding-right: 10px;">©<a href="http://www.bbdservice.com" target="_blank">BBD</a> 测试部 All Right Reserved 2019</p>
              {% endblock %}
          </form>
        </div>

{% endblock  %}





